body {
    font-family: 'Roboto', sens-serif;
    letter-spacing: 0.03em;
    
}
ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
h1, h2, h3, p {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
        margin-right: auto;
        margin-left: auto;

        @media screen and (max-width: 767px) {
            max-width: 480px;
          }

@media screen and (min-width: 768px) {
    max-width: 768px;
}

@media screen and (min-width: 1200px) {
    max-width: 1200px;
}
}

svg {
    display: block;
    max-width: 100%;
}