:root {
    --background-color: #ffffff;
    --color: #757575;  
    --color-1: #2196F3;
    --color-2: #F5F4FA;;
    --background-color-1: #2F303A;
    --color-3: #212121;
    --icon-color: #AFB1B8;
    --border-color: #EEEEEE

}